@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
    }

    body {
        max-width: 900px;
        padding: 50px;
    }

    #shuffle {
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 35px;
    }

    img.face {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin: 1px;
    }
}
